<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{view/admin/_layout_admin}"
>
  <body>
    <div layout:fragment="content">
      <!-- /#page-content-wrapper -->

      <div class="container">
        <hr />
        <div class="bg-light">
          <article class="card-body mx-auto" style="max-width: 800px">
            <h4 th:unless="${book.id}" class="card-title mt-3 text-center">
              Create New Book
            </h4>
            <h4 th:if="${book.id}" class="card-title mt-3 text-center">
              Update Book
            </h4>

            <form
              th:action="@{/admin/add-new-book}"
              method="post"
              th:object="${book}"
              enctype="multipart/form-data"
              th:onsubmit="return checkFormNewBook()"
            >
              <th:block th:if="*{id}">
                <input type="hidden" th:field="*{id}" />
              </th:block>
              <!-- book title -->
              <h5>Tên sách</h5>

              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input
                  th:field="*{bookTitle}"
                  class="form-control"
                  placeholder="Tên sách"
                  type="text"
                  required="required"
                />
              </div>

              <!-- category -->
              <h5>Thể loại</h5>
              <div class="form-group input-group">
                <select id="selUser2" th:field="*{category_id}">
                  <option value="0">-- Chọn thể loại --</option>
                  <option
                    th:each="i : ${categories}"
                    th:value="${i.id}"
                    th:text="${i.categoryTitle}"
                  ></option>
                </select>
              </div>

              <!-- authors -->
              <h5>Tác giả</h5>
              <div>
                <select
                  th:field="*{authors_id}"
                  multiple="multiple"
                  id="authorSelection"
                  style="width: 100%"
                >
                  <option
                    th:each="i : ${authors}"
                    th:value="${i.id}"
                    th:text="${i.fullname}"
                  ></option>
                </select>
              </div>
              <br />
              <!-- description -->
              <h5>Mô tả ngắn</h5>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <textarea
                  white-space:
                  pre-wrap;
                  class="form-control"
                  placeholder="Mô tả ngắn"
                  rows="5"
                  th:field="*{description}"
                ></textarea>
                <!-- th:field="*{description}" -->
                <!-- <div
                    th:field="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(book.description),'\n','&lt;br /&gt;'))}"
                  th:field="*{description}"
                  class="text"
                ></div> -->
              </div>
              <!-- img Link -->
              <h5>Chọn ảnh</h5>

              <div class="form-group input-group">
                <div class="input-group-prepend"></div>
                <input
                  class="form-control"
                  id="imgLink"
                  placeholder="Chọn ảnh"
                  type="file"
                  name="img_upload"
                />
              </div>

              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
                <input
                  th:field="*{imgLink}"
                  class="form-control"
                  id="imgLink"
                  placeholder="Link ảnh"
                  type="text"
                />
              </div>
              <!-- price -->
              <h5>Giá bán</h5>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
                <input
                  th:field="*{price}"
                  class="form-control"
                  placeholder="Giá bán"
                  type="number"
                  required="required"
                  id="price"
                />
              </div>
              <!-- entryPrice -->
              <h5>Giá nhập</h5>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
                <input
                  th:field="*{entryPrice}"
                  class="form-control"
                  placeholder="Giá nhập"
                  type="number"
                  required="required"
                  id="price2"
                />
              </div>
              <!-- publishingYear -->
              <h5>Năm xuất bản</h5>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
                <input
                  th:field="*{publishingYear}"
                  class="form-control"
                  placeholder="Publishing Year"
                  type="number"
                  min="0"
                  id="year"
                />
              </div>
              <!-- amount In Stock -->
              <h5>Số lượng hiện có</h5>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
                <input
                  th:field="*{amountInStock}"
                  class="form-control"
                  placeholder="Số lượng hiện có"
                  type="number"
                  min="0"
                  required="required"
                  id="quantity"
                />
              </div>
              <div id="message"></div>
              <!-- error mesage -->
              <div
                th:if="${errorMsg}"
                th:class="alert-danger"
                th:text="${errorMsg.content}"
              ></div>
              <div th:class="alert-danger" id="passwordError"></div>
              <!-- submit button -->
              <div class="form-group row">
                <div class="col-4">
                  <button type="submit" class="btn btn-primary btn-block">
                    <span th:unless="${book.id}"> Create New Book</span>
                    <span th:if="${book.id}"> Update Book</span>
                  </button>
                </div>
                <div class="col-4">
                  <button type="reset" class="btn btn-warning btn-block">
                    Reset info
                  </button>
                </div>
                <div class="col-4">
                  <a th:href="@{/admin/management-book}">
                    <button type="button" class="btn btn-danger btn-block">
                      Cancel
                    </button>
                  </a>
                </div>
              </div>
              <!-- form-group// -->
            </form>
          </article>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <th:block layout:fragment="script">
      <style>
        .select2 {
          width: 100% !important;
        }
      </style>
      <script
        type="text/javascript"
        th:src="@{/js/admin/form-add-new-book.js}"
      ></script>
    </th:block>
  </body>
</html>
