<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{view/admin/_layout_admin}"
>
  <body>
    <div layout:fragment="content">
      <!-- /#page-content-wrapper -->

      <div class="container">
        <hr />
        <div class="bg-light">
          <article class="card-body mx-auto" style="max-width: 800px">
            <h4 th:unless="${category.id}" class="card-title mt-3 text-center">
              Create New Category
            </h4>
            <h4 th:if="${category.id}" class="card-title mt-3 text-center">
              Update Category
            </h4>

            <form
              th:action="@{/admin/save-category}"
              method="post"
              th:object="${category}"
              th:onsubmit="return checkFormCategory()"
            >
              <th:block th:if="*{id}">
                <input type="hidden" th:field="*{id}" />
              </th:block>
              <!-- book title -->
              <h5>Tên thể loại</h5>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input
                  th:field="*{categoryTitle}"
                  id="title-category"
                  class="form-control"
                  placeholder="Tên thể loại"
                  type="text"
                  required="required"
                />
              </div>

              <!-- error mesage -->
              <div
                th:if="${errorMsg}"
                th:class="alert-danger"
                th:text="${errorMsg.content}"
              ></div>
              <div th:class="alert-danger" id="passwordError"></div>
              <div id="message"></div>
              <!-- submit button -->
              <div class="form-group row">
                <div class="col-4">
                  <button type="submit" class="btn btn-primary btn-block">
                    <span th:unless="${category.id}"> Create New Category</span>
                    <span th:if="${category.id}"> Update Category</span>
                  </button>
                </div>
                <div class="col-4">
                  <button type="reset" class="btn btn-warning btn-block">
                    Reset info
                  </button>
                </div>
                <div class="col-4">
                  <a th:href="@{/admin/management-category}">
                    <button type="button" class="btn btn-danger btn-block">
                      Cancel
                    </button>
                  </a>
                </div>
              </div>
              <!-- form-group// -->
            </form>
          </article>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <th:block layout:fragment="script">
      <!-- <script
        type="text/javascript"
        th:src="@{/js/management-category.js}"
      ></script> -->
      <script>
        $(document).ready(function () {
          $(".nav-sidebar").removeClass("active");
          $(".category-nav-sidebar").addClass("active");
        });

        /////////////////////////////////////////////////////////
        let titleCategory = $("#title-category");
        function checkFormCategory() {
          // if (!$("#title-category").val().trim()) {
          //   $("#message").addClass("alert alert-danger");
          //   $("#message").text("Không hợp lệ!");
          //   return false;
          // }
          return true;
        }
      </script>
    </th:block>
  </body>
</html>
