<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="/view/admin/_layout_admin"
>
  <body>
    <div layout:fragment="content">
      <!-- /#page-content-wrapper -->

      <div class="container">
        <hr />
        <div class="bg-light">
          <article class="card-body mx-auto" style="max-width: 800px">
            <h4 class="card-title mt-3 text-center">
              Create Account in Admin System
            </h4>

            <form
              th:action="@{/admin/add-new-user}"
              th:object="${user}"
              method="post"
              th:onsubmit="return checkFormSignUp()"
            >
              <!-- full name -->
              <h5>Họ và tên</h5>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input
                  th:field="*{fullName}"
                  class="form-control"
                  placeholder="Full name"
                  type="text"
                  required="required"
                />
              </div>

              <!-- user name -->
              <h5>Username</h5>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input
                  th:field="*{username}"
                  class="form-control"
                  placeholder="Username"
                  type="text"
                  required="required"
                />
              </div>

              <!-- password -->
              <h5>Nhập mật khẩu</h5>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
                <input
                  th:field="*{password}"
                  class="form-control"
                  id="password"
                  placeholder="Create password"
                  type="password"
                  required="required"
                />
              </div>
              <!-- repeat password -->
              <h5>Nhập lại mật khẩu</h5>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
                <input
                  th:field="*{rePassword}"
                  class="form-control"
                  id="repassword"
                  placeholder="Repeat password"
                  type="password"
                  required="required"
                />
              </div>
              <!-- email -->
              <h5>Nhập email</h5>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
                <input
                  name=""
                  th:field="*{email}"
                  class="form-control"
                  placeholder="Email address"
                  type="email"
                  required="required"
                />
              </div>
              <div
                th:if="${errorMsg}"
                th:class="alert-danger"
                th:text="${errorMsg.content}"
              ></div>
              <div th:class="alert-danger" id="passwordError"></div>
              <!-- submit button -->
              <div class="form-group row">
                <div class="col-4">
                  <button type="submit" class="btn btn-primary btn-block">
                    Create New User
                  </button>
                </div>
                <div class="col-4">
                  <button type="reset" class="btn btn-warning btn-block">
                    Reset info
                  </button>
                </div>
                <div class="col-4">
                  <a th:href="@{/admin/management-user}">
                    <button type="button" class="btn btn-danger btn-block">
                      Cancel
                    </button>
                  </a>
                </div>
              </div>
              <!-- form-group// -->
            </form>
          </article>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <th:block layout:fragment="script">
      <script>
        $(document).ready($("#password").keyup(() => checkFormSignUp()));
        $(document).ready($("#repassword").keyup(() => checkFormSignUp()));
        $(".nav-sidebar").removeClass("active");
        $(".user-nav-sidebar").addClass("active");

        function checkFormSignUp() {
          if (password.value !== repassword.value) {
            passwordError.innerHTML = "Mật khẩu không trùng khớp";
            return false;
          }
          passwordError.innerHTML = "";
          return true;
        }
      </script>
    </th:block>
  </body>
</html>
