<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{view/admin/_layout_admin}"
>
  <body>
    <div layout:fragment="content">
      <!-- /#page-content-wrapper -->
      <div class="container-xl">
        <div class="table-responsive mt-0">
          <div class="table-wrapper">
            <div class="table-title">
              <div class="row">
                <div class="col-sm-5">
                  <h2>User <b>Management</b></h2>
                </div>
                <div class="col-sm-7">
                  <a th:href="@{/admin/new-user}" class="btn btn-secondary"
                    ><i class="material-icons">&#xE147;</i>
                    <span>Add New User</span></a
                  >
                </div>
              </div>
            </div>
            <div id="message"></div>
            <div th:if="${message}" class="alert alert-success alert-server">
              [[${message}]]
            </div>
            <div th:if="${error}" class="alert alert-danger alert-server">
              [[${error}]]
            </div>
            <div class="dropdown row">
              <div class="col-2">
                <label for="quantity">Số sản phẩm/trang</label>
                <select class="form-select border" name="" id="quantity">
                  <option th:value="#{page.size.admin.1}">
                    [[#{page.size.admin.1}]]
                  </option>
                  <option th:value="#{page.size.admin.2}">
                    [[#{page.size.admin.2}]]
                  </option>
                  <option th:value="#{page.size.admin.3}">
                    [[#{page.size.admin.3}]]
                  </option>
                </select>
              </div>
              <div class="col-2">
                <label for="roleId">Lọc theo quyền hạn</label>
                <select class="form-select border" id="roleId">
                  <option value="0">-- Không --</option>
                  <option
                    th:each="i : ${roles}"
                    th:value="${i.id}"
                    th:text="${i.roleName}"
                  ></option>
                </select>
              </div>
              <div class="col-2">
                <label for="status">Lọc theo trạng thái</label>
                <select class="form-select border" id="status">
                  <option value="2">-- Không --</option>
                  <option value="1">Enabled</option>
                  <option value="0">Disabled</option>
                </select>
              </div>
              <div class="col-2">
                <br />
                <button class="btn btn-success" id="confirm-btn">OK</button>
              </div>
            </div>
            <table class="table table-striped table-hover" id="table">
              <thead>
                <tr>
                  <th style="width: 10%">#</th>
                  <th style="width: 15%">Username</th>
                  <th style="width: 15%">Name</th>
                  <th style="width: 30%">Email</th>
                  <th style="width: 10%">Role</th>
                  <th style="width: 10%">Status</th>
                  <th style="width: 20%">Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- tr start -->

                <!-- tr end -->
              </tbody>
            </table>
            <button class="btn btn-danger" id="delete-many-btn">Delete</button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
    <th:block layout:fragment="script">
      <style>
        .delete {
          border: none;
          background-color: transparent;
        }
        #confirm-btn {
          height: 36px;
          width: 60px;
        }
        .border {
          height: 29px;
          font-size: 12px;
          border: solid 1px #7a7a7a !important;
        }
      </style>
      <script
        type="text/javascript"
        th:src="@{/js/management-user.js}"
      ></script>

      <script>
        $(document).ready(function () {
          // xóa nhiều phần tử đã chọn
          $("#delete-many-btn").click(function () {
            let values = [];
            $.each($("input[class='delete-many-input']:checked"), function () {
              values.push(Number.parseInt($(this).val()));
            });
            if (confirm("Xóa " + values.length + " người dùng đã chọn??"))
              values.forEach((id) => callAjaxDelele(id));
          });

          // lần vào trang đầu tiên tải trang 1
          callAjax(0);

          $("body").on("click", ".delete", function () {
            let delId = $(this).val();
            if (confirm("Xóa user sẽ xóa thông tin và orders của user???")) {
              callAjaxDelele(delId);
            }
          });

          // lấy vị trí nút bấm và gán 'active' => gọi AJAX
          $("body").on("click", ".page-item", function () {
            $(".page-item").removeClass("active");
            $(this).addClass("active");
            let pageNo = Number.parseInt($(this).text() - 1);
            callAjax(pageNo);
          });

          // lấy vị trí nút kế tiếp và gán active. nút trước bỏ
          $("body").on("click", ".next-page-item", function () {
            $(".pagination")
              .find(".page-item.active")
              .next()
              .addClass("active");

            $(".pagination")
              .find(".page-item.active")
              .prev()
              .removeClass("active");

            callAjax(getCurrentPageIndex());
          });

          // lấy vị trí nút trước và gán 'active' nút sau bỏ
          $("body").on("click", ".previous-page-item", function () {
            $(".pagination")
              .find(".page-item.active")
              .prev()
              .addClass("active");

            $(".pagination")
              .find(".page-item.active")
              .next()
              .removeClass("active");

            callAjax(getCurrentPageIndex());
          });

          // accept confirm btn
          $("body").on("click", "#confirm-btn", function () {
            callAjax(0);
          });

          // search category
          $("body").on("click", "#admin-search-btn", function () {
            callAjax(0);
          });

          // chọn category để lọc
          $("#categoryId").select2();
        });

        ////////////////////////////////////////////////////////////////////////////////////////
        ////////////////////////////////////////////////////////////////////////////////////////

        // hàm gọi AJAX - get author
        function callAjax(pageNo) {
          $.ajax({
            url: "/admin/management-user-ajax",
            data: {
              pageNo: pageNo,
              pageSize: getPageSize(),
              searchFor: getSearchFor(),
              roleId: getRoleId(),
              status: getStatus(),
            },
            success: (value) => {
              let tbody = $("#table").find("tbody");
              tbody.empty();
              tbody.append(value[0]);
              $(".clearfix").empty();
              $(".clearfix").append(value[1]);
            },
          });
        }

        // hàm gọi Ajax - delete category
        function callAjaxDelele(delId) {
          $.ajax({
            method: "get",
            url: "/admin/delete-user",
            data: { id: delId },
            success: (value) => {
              callAjax(getCurrentPageIndex());
              $(".alert-server").empty();
              $(".alert-server").removeClass();
              $("#message").addClass("alert alert-warning");
              $("#message").empty();
              $("#message").append(value);
            },
          });
        }

        // lấy chỉ số trang hiện tại
        function getCurrentPageIndex() {
          let currentPage =
            Number.parseInt($(".pagination").find(".page-item.active").text()) -
            1;
          return currentPage < 0 ? 0 : currentPage;
        }

        // lấy số phần tử 1 trang
        function getPageSize() {
          return Number.parseInt($("#quantity").val());
        }

        // lấy search word
        function getSearchFor() {
          return $("#admin-search-input").val();
        }

        // lấy id role filter
        function getRoleId() {
          return Number.parseInt($("#roleId").val());
        }

        // lấy id status filter
        function getStatus() {
          return Number.parseInt($("#status").val());
        }
      </script>
    </th:block>
  </body>
</html>
