<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="/view/user/_layout_user"
>
  <body>
    <div layout:fragment="content">
      <div class="container">
        <p th:if="${message}" class="alert alert-success">[[${message}]]</p>
        <p th:if="${error}" class="alert alert-danger">[[${error}]]</p>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
          <div class="sidebar col-md-3 col-sm-5">
            <div class="sidebar-products">
              <h2>Bestsellers</h2>
              <th:block th:each="i : ${bestSellerBooks}">
                <div class="item">
                  <a th:href="@{'/trang-chu/book-detail/'+${i.id}}"
                    ><img th:src="@{${i.imgLink}}" alt="${i.bookTitle}"
                  /></a>
                  <h3 style="font-weight: bold">[[${i.bookTitle}]]</h3>
                  <h3 style="font-style: italic; font-size: 12px">
                    [[${i.category}]]
                  </h3>
                  <div class="price" style="text-transform: lowercase">
                    [[${i.price}]]đ
                  </div>
                </div>
              </th:block>
            </div>
          </div>
          <!-- END SIDEBAR -->
          <!-- BEGIN CONTENT -->
          <div class="col-md-9 col-sm-7 main-content">
            <div th:if="${error_book_not_found}" class="alert alert-danger">
              [[${error_book_not_found}]]
            </div>
            <div th:unless="${error_book_not_found}" class="product-page">
              <div class="row" id="product-list">
                <div class="col-md-6 col-sm-6">
                  <div>
                    <img
                      th:src="${book.imgLink}"
                      alt="Cool green dress with red bell"
                      style="height: 350px"
                      class="img-responsive"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <h1>[[${book.bookTitle}]]</h1>
                  <div class="price-availability-block clearfix">
                    <div class="price">
                      <strong>[[${book.price}]]<span>đ</span></strong>
                    </div>
                  </div>

                  <br />
                  <h5 style="font-size: 16px">Tác giả:</h5>
                  <div th:each="i : ${book.authorAndDescription}">
                    <div style="font-size: 15px">
                      <i class="bi bi-person-check"></i>
                      <span style="font-weight: normal"> [[${i}]]</span>
                    </div>
                  </div>
                  <br />
                  <form th:action="@{/cart/add-to-cart}" method="post">
                    <input type="hidden" name="id" th:value="${book.id}" />
                    <div class="product-page-cart">
                      <div class="product-quantity">
                        <input type="hidden" name="from" value="book-detail" />
                        <input
                          id="product-quantity"
                          type="number"
                          value="1"
                          min="1"
                          class="form-control input-sm"
                          name="quantity"
                          style="width: 80px"
                        />
                      </div>
                      <button class="btn btn-primary" type="submit">
                        Add to cart
                      </button>
                    </div>
                  </form>
                  <ul class="social-icons"></ul>
                </div>
                <br />
                <br />
              </div>
              <br />
              <div class="description row">
                <h5 style="font-weight: bold">Mô tả:</h5>
                <p style="font-size: 16px">[[${book.description}]]</p>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>
    <th:block layout:fragment="script">
      <style>
        .best-seller {
          font-size: 12px;
          font-style: italic;
        }
      </style>
      <script type="text/javascript" th:src="@{/js/book-detail.js}"></script>
    </th:block>
  </body>
  <!-- END BODY -->
</html>
