<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{view/user/_layout_user}"
>
  <body>
    <div layout:fragment="content">
      <div class="container">
        <p th:if="${message}" class="alert alert-success">[[${message}]]</p>
        <p th:if="${error}" class="alert alert-danger">[[${error}]]</p>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
          <div class="sidebar col-md-3 col-sm-5">
            <div class="sidebar-products">
              <h2>Bestsellers</h2>
              <th:block th:each="i : ${bestSellerBooks}">
                <div class="item">
                  <a th:href="@{'/trang-chu/book-detail/'+${i.id}}"
                    ><img th:src="@{${i.imgLink}}" alt="${i.bookTitle}"
                  /></a>
                  <h3 style="font-weight: bold">[[${i.bookTitle}]]</h3>
                  <h3 style="font-style: italic; font-size: 12px">
                    [[${i.category}]]
                  </h3>
                  <div class="price" style="text-transform: lowercase">
                    [[${i.price}]]đ
                  </div>
                </div>
              </th:block>
            </div>
          </div>
          <!-- END SIDEBAR -->
          <!-- BEGIN CONTENT -->
          <div class="col-md-9 col-sm-7 main-content">
            <div class="row">
              <div class="row">
                <div class="col-7"></div>
                <div class="col-md-5 col-sm-5">
                  <!-- <form action="" method="get"> -->
                  <div class="input-group">
                    <input
                      type="text"
                      placeholder="Search"
                      class="form-control"
                      id="home-search-input"
                    />
                    <span class="input-group-btn">
                      <button
                        class="btn btn-danger"
                        id="cancel-search-btn"
                        type="submit"
                        style="width: 40px"
                      >
                        X
                      </button>
                      <button
                        class="btn btn-primary"
                        id="home-search-btn"
                        type="submit"
                      >
                        Search
                      </button>
                    </span>
                  </div>
                  <!-- </form> -->
                </div>
              </div>
              <hr />
              <div class="dropdown row">
                <div class="col-md-2 col-sm-6">
                  <label for="quantity">Số lượng hiển thị</label>
                  <select class="form-select border" name="" id="quantity">
                    <option th:value="#{page.size.home.1}">
                      [[#{page.size.home.1}]]
                    </option>
                    <option th:value="#{page.size.home.2}">
                      [[#{page.size.home.2}]]
                    </option>
                    <option th:value="#{page.size.home.3}">
                      [[#{page.size.home.3}]]
                    </option>
                  </select>
                </div>
                <div class="col-md-2 col-sm-6">
                  <label for="categoryId">Lọc theo thể loại</label>
                  <select class="form-select border" id="categoryId">
                    <option value="0">-- Không --</option>
                    <option
                      th:each="i : ${categories}"
                      th:value="${i.id}"
                      th:text="${i.categoryTitle}"
                    ></option>
                  </select>
                </div>
                <div class="col-md-2 col-sm-6">
                  <label for="sort-by-price">Sắp xếp theo giá</label>
                  <select class="form-select border" name="" id="sort-by-price">
                    <option value="">Không</option>
                    <option value="price-asc">Giá (Tăng dần)</option>
                    <option value="price-desc">Giá (Giảm dần)</option>
                  </select>
                </div>
                <div class="col-md-2 col-sm-6">
                  <br />
                  <button class="btn btn-success" id="confirm-btn">OK</button>
                </div>
              </div>
            </div>

            <!-- BEGIN PRODUCT LIST -->
            <div class="row product-list" id="product-list"></div>

            <!-- END PRODUCT LIST -->
            <!-- BEGIN PAGINATOR -->
            <div class="row">
              <div class="clearfix col-md-8 col-sm-8" id="pagination-id"></div>
            </div>
            <!-- END PAGINATOR -->
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>
    <th:block layout:fragment="script"
      ><style>
        .delete {
          border: none;
          background-color: transparent;
        }
        #confirm-btn {
          height: 36px;
          width: 60px;
        }
        .border {
          height: 29px;
          font-size: 12px;
          border: solid 1px #7a7a7a !important;
        }
        .pagination {
          display: flex;
          padding-left: 0;
          list-style: none;
          float: right;
        }
        .hint-text {
          float: left;
          margin-top: 10px;
          font-size: 13px;
        }

        .img-item {
          max-height: 300px;
          width: -webkit-fill-available;
        }
      </style>
      <script type="text/javascript" th:src="@{/js/home.js}"></script>
    </th:block>
  </body>
  <!-- END BODY -->
</html>
