<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{view/user/_layout_user}"
>
  <body>
    <div layout:fragment="content">
      <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <h1>Shopping cart</h1>
            <div class="goods-page">
              <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                  <table th:unless="${order.isEmpty}" summary="Shopping cart">
                    <thead>
                      <tr>
                        <th class="goods-page-image" style="width: 10%">
                          Hình ảnh
                        </th>
                        <th class="goods-page-description" style="width: 30%">
                          Tên sách
                        </th>
                        <th class="goods-page-ref-no" style="width: 20%">
                          Tác giả
                        </th>
                        <th class="goods-page-quantity" style="width: 20%">
                          Số lượng
                        </th>
                        <th class="goods-page-price" style="width: 10%">Giá</th>

                        <th class="goods-page-total" style="width: 5%"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <th:block th:each="book: ${order}">
                        <tr>
                          <td class="goods-page-image">
                            <a th:href="@{'/trang-chu/book-detail/'+${book.id}}"
                              ><img
                                th:src="@{${book.imgLink}}"
                                alt="${book.bookTitle}"
                            /></a>
                          </td>
                          <td class="goods-page-ref-no" style="font-size: 18px">
                            [[${book.bookTitle}]]
                          </td>
                          <td class="goods-page-ref-no" style="font-size: 16px">
                            <th:block th:each="author : ${book.authors}">
                              <div style="text-align: left">
                                -- [[${author}]]
                              </div>
                            </th:block>
                          </td>
                          <td class="goods-page-quantity">
                            <div class="col-lg-12 col-md-12 col-sm-12 d-flex">
                              <button
                                class="btn btn-link px-2 btn-down"
                                th:value="${book.id}"
                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                              >
                                <i
                                  style="font-size: 20px"
                                  class="bi bi-arrow-down-circle-fill"
                                ></i>
                              </button>

                              <input
                                id="form1"
                                min="1"
                                name="quantity"
                                th:value="${book.amountInCart}"
                                type="number"
                                class="form-control form-control-sm"
                                disabled="disabled"
                              />

                              <button
                                class="btn btn-link px-1 btn-up"
                                th:value="${book.id}"
                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                              >
                                <i
                                  style="font-size: 20px"
                                  class="bi bi-arrow-up-circle-fill"
                                ></i>
                              </button>
                            </div>
                          </td>
                          <td class="goods-page-price">
                            <strong>[[${book.price}]]<span>đ</span></strong>
                          </td>

                          <td>
                            <button
                              class="btn btn-danger px-2 delete"
                              th:value="${book.id}"
                            >
                              <i
                                style="font-size: 20px"
                                class="bi bi-trash3-fill"
                              ></i>
                            </button>
                          </td>
                        </tr>
                      </th:block>
                    </tbody>
                  </table>
                  <div th:if="${order.isEmpty}" class="alert alert-warning">
                    Giỏ hàng đang trống
                  </div>
                </div>

                <a th:href="@{/trang-chu}">
                  <button class="btn btn-default" type="button">
                    <i class="bi bi-arrow-return-left"></i> Continue shopping
                  </button>
                </a>
                <a th:href="@{/cart/check-out}">
                  <button class="btn btn-primary" type="submit">
                    Checkout <i class="bi bi-arrow-return-right"></i>
                  </button>
                </a>
              </div>
            </div>
            <!-- END CONTENT -->
          </div>
          <!-- END SIDEBAR & CONTENT -->
        </div>
      </div>
    </div>
    <th:block layout:fragment="script">
      <style>
        .icon {
          font-size: 14px;
          margin-left: 10px;
        }
        th {
          text-align: center;
        }
        td {
          text-align: center;
        }
      </style>
      <script type="text/javascript">
        $(document).ready(
          $(".btn-down").click(function () {
            callChangeAjax(false, $(this).val());
          }),
          $(".btn-up").click(function () {
            callChangeAjax(true, $(this).val());
          }),
          $(".delete").click(function () {
            callDeleteAjax($(this).val());
            $(this).parents("tr").hide();
          })
        );

        function callDeleteAjax(id) {
          $.ajax({
            type: "post",
            data: { id: id },
            url: "/cart/delete-order-detail-incart",
            success: function () {
              console.log("delete ", id);
            },
          });
        }

        function callChangeAjax(increase, id) {
          $.ajax({
            type: "post",
            data: { increase: increase, id: id },
            url: "/cart/change-amount-in-cart",
            success: function () {
              console.log("change ", id);
            },
          });
        }
      </script>
    </th:block>
  </body>
  <!-- END BODY -->
</html>
